Source: droidian-branding
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 13),
               make,
               librsvg2-bin,
               optipng,
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/furilabs/furios-branding
Vcs-Git: https://github.com/furilabs/furios-branding.git

Package: furios-branding
Architecture: all
Pre-Depends: base-files,
             desktop-base,
Description: Branding for FuriOS
 This package contains some branding bits for FuriOS
